{% extends 'base.html' %}
{% load static %}
{% block content %}

		<!-- Inner Banner -->
		<section class="inner-banner" style="backend:#242c36 url(https://via.placeholder.com/1920x600)no-repeat;">
			<div class="container">
				<div class="caption">
					<h2>Job Name Dashboard</h2>
				</div>
			</div>
		</section>
		
		<section class="jobs">
			<div class="container">
				<div class="row heading">
				</div>

				<div class="companies">
					<div class="company-list">
						<div class="row">
							<div class="col-md-2 col-sm-2">
								<div class="company-logo">
									<img src="{% static 'img/blank_face.jpeg' %}" class="img-responsive" alt="" />
								</div>
							</div>
							<div class="col-md-8 col-sm-8">
								<div class="company-content">
									<h3>Application Name</h3>
									<p><span class="company-location"><i class="fa fa-map-marker"></i> Location, City, State</span></p>
								</div>
							</div>
								 <a href="{% url 'profiletemplate' %}"><button type="submit" name="View Applicant Profile">View Applicant Profile</button></a>
                                <a href="{% url 'offertemplate' %}"><button type="submit" name="Extend Job Offer">Extend Job Offer</button></a>
						</div>
					</div>
					
                    <div class="companies">
					<div class="company-list">
						<div class="row">
							<div class="col-md-2 col-sm-2">
								<div class="company-logo">
									<img src="{% static 'img/blank_face.jpeg' %}" class="img-responsive" alt="" />
								</div>
							</div>
							<div class="col-md-8 col-sm-8">
								<div class="company-content">
									<h3>Application Name</h3>
									<p><span class="company-location"><i class="fa fa-map-marker"></i> Location, City, State</span></p>
								</div>
							</div>
								<a href="{% url 'profiletemplate' %}"><button type="submit" name="View Applicant Profile">View Applicant Profile</button></a>
                                <a href="{% url 'offertemplate' %}"><button type="submit" name="Extend Job Offer">Extend Job Offer</button></a>
						</div>
					</div>

                    <div class="companies">
					<div class="company-list">
						<div class="row">
							<div class="col-md-2 col-sm-2">
								<div class="company-logo">
									<img src="{% static 'img/blank_face.jpeg' %}" class="img-responsive" alt="" />
								</div>
							</div>
							<div class="col-md-8 col-sm-8">
								<div class="company-content">
									<h3>Application Name</h3>
									<p><span class="company-location"><i class="fa fa-map-marker"></i> Location, City, State</span></p>
								</div>
							</div>
							<a href="{% url 'profiletemplate' %}"><button type="submit" name="View Applicant Profile">View Applicant Profile</button></a>
                                <a href="{% url 'offertemplate' %}"><button type="submit" name="Extend Job Offer">Extend Job Offer</button></a>
						</div>
					</div>

                                        <div class="companies">
					<div class="company-list">
						<div class="row">
							<div class="col-md-2 col-sm-2">
								<div class="company-logo">
									<img src="{% static 'img/blank_face.jpeg' %}" class="img-responsive" alt="" />
								</div>
							</div>
							<div class="col-md-8 col-sm-8">
								<div class="company-content">
									<h3>Application Name</h3>
									<p><span class="company-location"><i class="fa fa-map-marker"></i> Location, City, State</span></p>
								</div>
							</div>
								<a href="{% url 'profiletemplate' %}"><button type="submit" name="View Applicant Profile">View Applicant Profile</button></a>
                                <a href="{% url 'offertemplate' %}"><button type="submit" name="Extend Job Offer">Extend Job Offer</button></a>
						</div>
					</div>

                                        <div class="companies">
					<div class="company-list">
						<div class="row">
							<div class="col-md-2 col-sm-2">
								<div class="company-logo">
									<img src="{% static 'img/blank_face.jpeg' %}" class="img-responsive" alt="" />
								</div>
							</div>
							<div class="col-md-8 col-sm-8">
								<div class="company-content">
									<h3>Application Name</h3>
									<p><span class="company-location"><i class="fa fa-map-marker"></i> Location, City, State</span></p>
								</div>
							</div>
								<a href="{% url 'profiletemplate' %}"><button type="submit" name="View Applicant Profile">View Applicant Profile</button></a>
                                <a href="{% url 'offertemplate' %}"><button type="submit" name="Extend Job Offer">Extend Job Offer</button></a>
						</div>
					</div>

                    <div class="companies">
					<div class="company-list">
						<div class="row">
							<div class="col-md-2 col-sm-2">
								<div class="company-logo">
									<img src="{% static 'img/blank_face.jpeg' %}" class="img-responsive" alt="" />
								</div>
							</div>
							<div class="col-md-8 col-sm-8">
								<div class="company-content">
									<h3>Application Name</h3>
									<p><span class="company-location"><i class="fa fa-map-marker"></i> Location, City, State</span></p>
								</div>
							</div>
								<button type="submit" name="View Applicant Profile">View Applicant Profile</button>
                                <button type="submit" name="Extend Job Offer">Extend Job Offer</button>
						</div>
					</div>

                    <div class="companies">
					<div class="company-list">
						<div class="row">
							<div class="col-md-2 col-sm-2">
								<div class="company-logo">
									<img src="{% static 'img/blank_face.jpeg' %}" class="img-responsive" alt="" />
								</div>
							</div>
							<div class="col-md-8 col-sm-8">
								<div class="company-content">
									<h3>Application Name</h3>
									<p><span class="company-location"><i class="fa fa-map-marker"></i> Location, City, State</span></p>
								</div>
							</div>
								<button type="submit" name="View Applicant Profile">View Applicant Profile</button>
                                <button type="submit" name="Extend Job Offer">Extend Job Offer</button>
						</div>
					</div>

                    <div class="companies">
					<div class="company-list">
						<div class="row">
							<div class="col-md-2 col-sm-2">
								<div class="company-logo">
									<img src="{% static 'img/blank_face.jpeg' %}" class="img-responsive" alt="" />
								</div>
							</div>
							<div class="col-md-8 col-sm-8">
								<div class="company-content">
									<h3>Application Name</h3>
									<p><span class="company-location"><i class="fa fa-map-marker"></i> Location, City, State</span></p>
								</div>
							</div>
								<button type="submit" name="View Applicant Profile">View Applicant Profile</button>
                                <button type="submit" name="Extend Job Offer">Extend Job Offer</button>
						</div>
					</div>



					
				</div>
				<div class="row">
					 <a href="{% url 'jobdashboardtemplate' %}"><input type="button" class="btn brows-btn" value="Browse All Applicants" /></a>
				</div>
			</div>

        <h2>Employee Recommendations - Based on Job Description</h2>
                            <div class="companies">
					<div class="company-list">
						<div class="row">
							<div class="col-md-2 col-sm-2">
								<div class="company-logo">
									<img src="{% static 'img/blank_face.jpeg' %}" class="img-responsive" alt="" />
								</div>
							</div>
							<div class="col-md-8 col-sm-8">
								<div class="company-content">
									<h3>Application Name</h3>
									<p><span class="company-location"><i class="fa fa-map-marker"></i> Location, City, State</span></p>
								</div>
							</div>
						</div>
					</div>

                    <div class="companies">
					<div class="company-list">
						<div class="row">
							<div class="col-md-2 col-sm-2">
								<div class="company-logo">
									<img src="{% static 'img/blank_face.jpeg' %}" class="img-responsive" alt="" />
								</div>
							</div>
							<div class="col-md-8 col-sm-8">
								<div class="company-content">
									<h3>Application Name</h3>
									<p><span class="company-location"><i class="fa fa-map-marker"></i> Location, City, State</span></p>
								</div>
							</div>
						</div>
					</div>

                    <div class="companies">
					<div class="company-list">
						<div class="row">
							<div class="col-md-2 col-sm-2">
								<div class="company-logo">
									<img src="{% static 'img/blank_face.jpeg' %}" class="img-responsive" alt="" />
								</div>
							</div>
							<div class="col-md-8 col-sm-8">
								<div class="company-content">
									<h3>Application Name</h3>
									<p><span class="company-location"><i class="fa fa-map-marker"></i> Location, City, State</span></p>
								</div>
							</div>
						</div>
					</div>

		</section>

{% endblock %}